# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=casimiro123
DB_DATABASE=PA_db

# Configuración JWT (para futuras etapas)
JWT_SECRET=your_secret_key_here
JWT_EXPIRES_IN=1d
